streamlit==1.35.0
tensorflow==2.16.1
scikit-learn==1.4.2
catboost==1.2.5
xgboost==2.0.3
lightgbm==4.3.0
numpy==1.26.4
pandas==2.2.2
nltk==3.8.1
gensim==4.3.2
wordcloud==1.9.3
matplotlib==3.8.4
seaborn==0.13.2
missingno==0.5.2
kagglehub==0.2.9
keras-tuner==1.4.7
